*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

/* Open space for border */

.forspace {
  text-align: center;
  text-transform: uppercase;
  background-color: #f1baff;
  margin: 2rem auto 2rem auto;
}

/* Scrolltab UI */

.list-container {
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 639px;
}

.list-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  transform: translateY(100%);
  box-shadow: 5px 0 20px 20px rgba(0, 0, 0, 0.3);
}

.list-container--normalize-list {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
}

.list-container--scroll {
  overflow-y: auto;
  height: inherit;
}

.list-container__title-text {
  margin: 0;
  padding: 7px 15px;
  font-weight: 600;
  color: #fff;
  background: #570081;
}

.sticky {
  position: sticky;
  top: 0px;
}

.list-container__item {
  display: flex;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin: 10px 15px;
}

.list-container__item__link {
  display: block;
  padding: 12px 15px;
  width: 100%;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  transition: background-color 0.5s linear;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  border-radius: 8px;
}

.list-container__item__link:hover,
.list-container__item__link:focus {
  background: #f1baff;
  border-radius: 8px;
}

/* Linear background */

.gradient-container {
  display: flex;
  height: 100%;
}

.gradient-container__item {
  display: block;
  align-content: start;
  text-align: justify;
  width: 800px;
  height: 320px;
  padding: 5px 10px;
  color: #000;
  font-size: 1.3em;
}

.gradient-container--position {
  --borderWidth: 3px;
  background: #fff;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-container--position:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.gradient-container__text {
  display: block;
  margin: 0.5em 0.5em 1em 0.5em;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Checkbox */

.base--label--checkbox {
  display: flex;
  align-items: flex-start;
  position: relative;
  max-width: fit-content;
  margin: 0.8em 1em 1em 1.2em;
  font-size: 10px;
}

.base--checkbox {
  display: inline-block;
  position: relative;
  line-height: 0;
}

.base--checkbox__input {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  font-size: 10px;
  width: 3.2em;
  height: 3.2em;
  opacity: 0;
  z-index: 1;
}

.base--label--checkbox__text {
  font-size: 2em;
  padding-left: 1em;
  line-height: 1.45;
  padding-top: 0.08em;
}

.base--checkbox__check-icon {
  display: inline-block;
  width: 3.2em;
  height: 3.2em;
  overflow: hidden;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 0.4em;
  border: 0.2em solid #570081;
  transition: background-color 0.1s linear;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

/* Checked */

.base--checkbox__input:checked + .base--checkbox__check-icon {
  background-color: #570081;
  box-shadow: 0 0 0 0.001em #570081;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9.5L6.5 15L16 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.base--checkbox__input:indeterminate + .base--checkbox__check-icon {
  background-color: #570081;
  box-shadow: 0 0 0 0.001em #570081;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='1' x2='13' y2='1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

/* Focused + Hover */

.base--checkbox__input:focus:not(:disabled) + .base--checkbox__check-icon,
.base--checkbox__input:hover:not(:disabled) + .base--checkbox__check-icon {
  cursor: pointer;
  background-color: rgba(89, 6, 129, 0.7);
}

/* Disabled */

.base--checkbox__input:disabled + .base--checkbox__check-icon {
  box-shadow: 0 0 0 0.05em #d1c6d7;
  border: 0.2em solid #c6b7ce;
}

.base--checkbox__input:checked:disabled + .base--checkbox__check-icon {
  background-color: #d1c6d7;
  border: none;
}

.base--checkbox__input:indeterminate:disabled + .base--checkbox__check-icon {
  background-color: #d1c6d7;
}

/* Adaptive */

@media screen and (max-width: 800px) {
}
